@charset "UTF-8";
@import url("./baselayer.css");

.settings_subtitle {
	font-weight: bold;
	font-size: 16px;
}
#card_add {
	display: flex;
	margin: 20px;
}
div.card_box {
	max-width: fit-content;
	height: 140px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 4px;
	margin: 20px;
	font-size: 10px;
}
.invisible {
	display: none;
}
