@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root{
  --main-width :1056px
}
/*body 초기화*/

body {
  font-family: 'Jua', sans-serif;
  margin: 0;
  padding: 0;
    background-color: white;
}
html{
    height: 300%;
    width: 100%;
    margin: auto;
    max-width: 1100px;
}
a{
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  color: black;
  white-space: nowrap;
}

.menu1>div{
    position: relative;
    z-index: 11;

}

.menu1>.menu1-logo{
  margin-top: 0px;
  /* 로고 패딩--------------------- */
  margin-right: 50%;
}


.menu1> div {
  margin-top: 18px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
}
.menu1>.menu1-logo>a>img{
  width: 250px;
}

.menu1>.menu1-addproject{
  margin-top: 18px;
}

.menu1>.menu1-like{
  margin-top: 18px;
}

.menu1>.menu1-profile{
  /* 프로필은 마진탑13 딴애들은 18 */
  margin-top: 13px;
  margin-right: 25px;
  width: 72px;
  height: 30px;
  border: 1px solid dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
/*  ---------------부모속성--------------------*/

.menu1 {
    position: relative;
    z-index: 100;
    display: flex;
    margin-bottom: 30px;
    height: 85px;
    background-color: white;
}
nav {
  width: 100%;
  position: sticky;
  z-index: 99;
  display: flex;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 6px;
  background-color: seashell;
  min-width: 1200px;
}
      /* 메인메뉴 */
#main-menu{
  position: relative;
  z-index: 100;
  background-color: seashell;
  display: flex;
  width: 100%;
}

#main-menu > li {
  /* 여기z포지션 넣으면 메뉴바 카테는 왜안되는지?*/
  /* positon 없애니깐 이뻐짐 왜이러는지? */
  position: flex;
  z-index: 100;
  float: left;
  background-color: seashell;
}

#main-menu > li > a {
  position: relative;
  z-index: 10;
  font-size: 17px;
  font-style: inherit;
  /* 메인메뉴 글씨색 */
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  /* 여기패딩 노가다로 찾아야 틈새 안벌어짐*/
  padding: 14px 28.3px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  /* 왠진모르겠는데 여기색 정하니깐 서브메뉴가 카테고리버튼 씹는거 사라짐*/
  background-color: seashell;
}

#main-menu > li > ul>li {

}
/* 서브메뉴 */
#sub-menu {
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  display: flex;
  background-color: dimgrey;
  height: 100px;
  width: 1200px;
  visibility: hidden;
  /* y축설정 */
    transform:translateY(-50%);
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*---------------------------------------------  */
/* 주의 메인리스트 시작 */


section {
  column-width: 15em;
  margin: auto;
  background: #dadadf;
  padding: 2em 12em;
  max-width: var(--main-width);
}

/* -------------------------- */

/* 메뉴 손가락올릴떄 */
#main-menu > li > a:hover{
  color: orange;
  transition:color 0.7s;
}

#main-menu > li.search{
  padding-left: 300px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 100px;
}


#main-menu > li.search >input{
  /* 조정5px로해서 메뉴바 자연스럽게 내려오게하기 */
  padding-bottom: 5px;
  padding-right:  1px;
  border-radius: 8px;
  border:0 solid black;
  border:1 solid #dadadf;
}

#main-menu > li.search >button{
  background-color: seashell;
  border:1 solid #dadadf;
  border-radius: 1000px;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu{
  /* 비져블코드 */
  visibility: visible;
  transition:all 0.6s;
    transform:translateY(0%);
}

#sub-menu > li :hover{
  color: orange;
  transition:color 0.3s;
}
#sub-menu > li:hover{
  background-color: tomato;
  transition:color 0.3s;
}
#sub-menu > li:hover >a{
  /* li만 호버해도 a도 같이변경 */
  color: orange;
}
